:root {

    --bs-body-color-rgb: rgba(0,0,0,0.9);

}

html {

    scroll-behavior: smooth;

}

.content {

    color: #f8f8f8;
    z-index: -2;

}

.content-max-width {

    max-width: 1000px !important;

}

.container {

    max-width: 100%;

}

a {
    
    color: inherit;
    text-decoration: none !important;
    display:flex;
    width: 100%;
    justify-content: center;


}

p {

    font-size: 1.3em;
    line-height: 1.2;

}

ul {

    width:100%; 
    margin: 0;
    padding: 0;
    list-style: none;

   display:flex; 
   flex-direction: column; 
   align-items: center;

}

nav ul {

    padding-left: 0 !important;

}

.bootstrap-container * {
    all: unset; /* Reset styles first */
    all: revert; /* Then reapply browser defaults */
}

h1 {

    font-size: 32px;

}

h2 {

    font-size: 24px;

}



li {

    border: 0;
    padding: 0;
    text-decoration: none;
    transition: background-color 0.3s;

}

footer {



}

button:active {

    background-color: white;

}

.white-space{

    background-color: white;
    width: 100%;

}

.main-shadow {

    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.52);

}



nav {

    display: block;

}

div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    caret-color: transparent;
    font-weight: 400;


}

div.flex-row {

    flex-direction: row;


}

@media (min-width: 480px) {
    
    .desktop-flex-row {

        flex-direction: row;

    }


}

.bold {

    font-weight: 700;

}

.medium {

    font-weight: 500;

}

.nav-menu {

    height: 470px;

}

.colour.main {

    background-color: #EFC054;

}

.footer {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    
}

.back-to-top {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 2px solid rgba(0, 0, 0, 0);

}

.back-to-top:hover {
    border: 2px solid #7E4E54;
}

.header {

    height: 80px;
    width: 100%;
    padding: 3px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: white;

}

.header.button {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.big-title{

    font-size: 3em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

}

.top-banner {

    height: 350;

}

.ministry-glyph {

    font-size: 1.5em;

}

.ministry {

    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;

    font-size:1.8em ;
    font-weight: 700;

    object-fit: contain;
    background-size:cover;
    background-position: center;

}

nav .ministry {

    height: 80px;
    font-size: 1.5em;
    transition: height 300ms ease-out;

}

@media (max-width:600px) {

    nav .ministry {

        height: 120px;
        font-size: 1.8em;
        background-color: rgba(77, 69, 44, 0.4);;

    }

    .nav-menu {

        height: 600;

    }

}

nav .ministry:hover {

    height:150px;

}

a.ministry {

    color:white;
    transition: background-color 0.2s ease-out;

}


.offcanvas-header {

    display: flex;
    font-size: 2em;
    padding: 10 20 10 30;
    height: 80px; 

}

    @media (min-width:800px) {

        .offcanvas-header {

            height: 64px; 

        }
    }

.offcanvas {


}

.offcanvas-body {

    overflow-y: auto;
    max-height: 100vh;
    display: block;
    flex-direction: column;
    padding: 0;

}

.btn-close {

    height: 50px !important;
    width: 50px !important; 

}

.showing {

    align-items: stretch;

}

.JRMLogo {

    height: 50px; 
    width: 50px;
    background-color: white; 
    text-align: center;
    padding: auto 0;

}

.JRMSwinLogo {

    height: 50px; 
    width: 100px;
    background-color: white; 
    text-align: center;
    padding: 5px 0px;

}

        @media (max-width:600px) {

            .offcanvas {
    
                --bs-offcanvas-width: 600;

            }
        }


.image {

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-size:cover;
    background-position: center;

}



.subtitle {

    max-width: 600px; 

    text-align: center;
    line-height: 1.2;
    z-index: 70;
    text-shadow: 2px 3px 2px black;
    margin: 10 0;
    

}

.white-shadow {

    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.9);

}

.image.darken {

    background-color: rgba(112, 84, 28, 0.331);
    width: 100%;
    height: 100%;
    z-index: 1;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);

}

.image.darker {

    background-color: rgba(30, 22, 7, 0.511);
    width: 100%;
    height: 100%;
    z-index: 1;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.9);

}

.image.lighten {

    background-color: rgba(212, 212, 212, 0.573);
    width: 100%;
    height: 100%;
    z-index: 1;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    color: black;

}

.image.lighten.coloured {

    background-color: rgba(180, 157, 59, 0.573);

}

.carousel-control {

    width: 30%;

}

nav .image.darken {


    background-color: rgba(134, 121, 75, 0.477);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);

}

    @media (min-width: 600px) {
        
        nav .image.darken {

            background-color: rgba(78, 71, 49, 0.591);

        }

    }
    

#ministry-image-description {

    height: 250px;
    box-shadow: none;


}

div.banner-picture {

    padding: 25px 0px;

}

    @media (min-with:400px) {

        div.banner-picture {

            padding: 40px 0px;
        
        }

    }

.banner-picture.title {

    margin: 0 15;
}

    @media (min-width: 480px){

        .banner-picture.title {

            max-width: 130px;

        }
    }

.banner-picture.description {

    font-weight: 200;
    font-size: 1.8em;
    margin: 15 30;

}

    @media (min-width: 600px){

        .banner-picture.description {
             width: 400px;

        }
    }

.banner-picture.sub-description {


    font-size: 1.2em;
    font-weight: 300;
    border: 2px solid #f8f8f8;
    padding: 5px;
    margin: 15;
    border-radius: 10px;


}

    @media (min-width: 460px){

        .banner-picture.banner-picture.sub-description {

            max-width: 90px;

        }
    }

.banner-picture.div {


   height: inherit;

}


.ministries-spacer-height {

    height: 80px;


}

#children-m {

    font-weight: 700;

}

#worship-m{



}

.ministry.image.darken:hover {

    background-color: rgba(255, 255, 255, 0.3);

}

nav .ministry.image.darken:hover {

    background-color: rgba(123, 108, 56, 0.258);

}

.ministry.image.darken:active {

    background-color: rgba(0, 0, 0, 0.3);

}


.ministry.ministries-p {

    background-image: url('Homepage Photos/img2.jpg');
    z-index: 49;
    max-width: 100%;

}

div.ministry.ministries-p {

    height:350px;

}

.ministry-CTA {

    padding: 20px;
    margin: 40px 20px 20px;
    background-color: #EFC054;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.5em;
    width: fit-content;
    transition: 100ms ease-in;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.56);

}

.ministry-CTA.white {

    background-color: white;

}

.ministry-CTA:hover {

    background-color: #B69445;
    color: white;

}


.ministries-p-text {

    color: white;
    z-index: 50;
 
}

.ministry.home-p {

    background-image: url('Homepage Photos/img1.jpg');
    z-index:50;
    cursor: pointer;

}

.ministry.service-m {

    background-image: url('Homepage Photos/serviceImg.jpg');
    z-index: 49;
    width: 100%;

}



.ministry.children-m {

    background-image: url('Homepage Photos/childrenImg.jpg'); 
    z-index: 48;

}

.ministry.worship-m {

    background-image: url('Homepage Photos/worshipImg.jpg');
    z-index: 47;

}

.ministry.events-p {

    background-image: url('Homepage Photos/eventsImg.jpg');
    z-index: 46;

}

div.ministry.events-p {

    z-index: 49;
    max-width: 100%;
    height: 300px;


}

.ministry.giving-p {

    background-image: url('Homepage Photos/givingImg.jpg');
    z-index: 45;

}

.ministry.about-p {

    background-image: url('Homepage Photos/aboutImg.jpg');
    z-index: 44;

}

.giving-element {

    margin: 50px 0px 0px;

}


    @media (min-width:540px) {
        .giving-element-title{

            width: 200px;
            margin-bottom: 0px;


        }

        .giving-element {

            flex-direction: row;
        }
    }


    @media (min-width:540px) {

        .giving-interactive-container {
          
            justify-content: start;
            align-items: start;
            margin-left:45px;

        }

    }

.giving-button {

    padding: 10px 15px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.5em;
    width: fit-content;
    transition: 100ms ease-in;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.56);

}

.giving-button:hover {

   background-color:#B69445;
   color: white;

}


.copy-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    z-index: 1000;
    text-align: center;
}


.about-portrait-container {


    justify-content: space-between;
    padding: 0px 8%;

}

    @media (min-width:540px){

        .about-portrait-container {

             flex-direction: row;
             align-items: start;
        }
    }

    @media (min-width:800px){
        
        .about-portrait-container {
            padding: 0px 120px;
        }
    }

.about-portrait {

    width: 160px;
    aspect-ratio: 1;
    border-radius: 80px;
    background-color: #B69445;
    margin: 15px;

}

    @media (min-width:540px) {

        .about-portrait {

            width: 125px;

        }

    }

    @media (min-width:750px) {

        .about-portrait {

            width: 160px;

        }

    }


.about-portrait-text {

    width: 120;
    padding: 10px;
    font-size: 1.4em;

}

.portrait1 {

    background-image: url('About Photos/aboutImg1.jpg');

}

.portrait2 {

    background-image: url('About Photos/aboutImg2.jpg');

}

.portrait3 {

    background-image: url('About Photos/aboutImg3.jpg');

}

.parent {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;


}


.child {

    display:flex;
    position: absolute;
    align-items: center;
    justify-content:center ;

}

.child.end {

    margin-left: inherit;
    margin-top: 70%;

}

    @media (min-width: 420px) {

        .child.end {

            margin-left: 80%;
            margin-top: inherit;
        
        }

    }

.bottom {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50 0;
    padding: 20 0 20;

}


.welcome-msg {

    height: 10;
    top: 35%;
    z-index: 50;

    margin: 0px 40px 0px;
    
}

    @media (min-width:420px) {

        .welcome-msg {

            width: 70%;

        }

    }

    @media (min-width:800px) {

        .welcome-msg {

            width: 50%;

        }

    }


.contact-msg {

    margin: 20 0;

}

.welcome-text {

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    font-size:2.5em ;
    line-height: 1.2;
    color: white;

}

.find-out-more {

    width: 260;
    height: 65;
    top: 69%;
    border-radius: 37px;
    margin-top: 0;
    z-index: 50;
    box-shadow: 0px 14px 23px rgba(0, 0, 0, 0.56);
    font-size: 2.5em;

}

.find-out-more:hover {

    background-color: #B69445; 
    color: white;
    transition: 0.1s ease-in;
    cursor: pointer;

}

.find-out-more:active {

    background-color: #B69445 ; 
    color: white;

}

.colour.text-main {

   color: FFDB89;

}

img {

    max-width: 100%;
    max-height: 100%;
    object-fit: cover;


}

.event-thumbnail {

    padding: 4px 4px 0px 0px;
    aspect-ratio: 1/1;
    width: 70px;
    border-radius: 16px;
    transition: 300ms ease-in-out;

}

        @media (min-width:800px) {

          
            
        }


.event-thumbnail:hover {

    width: 150;

}


.event-picture-container {

    background-color: white;
    padding: 0px 0px 4px 4px;
    width: 100%;
    height: 100px;
    justify-content:left;
    overflow:auto;

}

    @media (min-width:600px) {

        .event-picture-container {

            height: 160px;

        }

        .event-thumbnail {

            width: 100px;
            
        }

    }

.event-thumbnail-container {

    display: flex;
    flex-direction: row;
    align-items: flex-start;


}


        /* Carousel */

        .carousel-indicators {

            margin: 20px auto !important;
            
        }
    
        .carouselsize {
            width:100%;
            height:450px;
            opacity:1.0;
            object-fit:contain !important;
        }  
            
        .carouselcaptionbox {
            background-color:rgba(0,0,0,0.7);
            padding-bottom: 10px; 
            background-color:rgba(0,0,0,0);
            }

        .container {

            padding:0 !important;
            margin: 0 !important;

        }

        .carousel-control {

            z-index: 50 !important;

        }

        .dot {

            margin: 0 10px !important;

        }

.centreGrid {

    display: grid;
    place-items: center;
    height:100%;
    text-align: center;

}

.content {

    display:flex;
    flex-direction: column;
    background-color: #ebdbb8;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #333;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.swin.gradient {
   
    background: linear-gradient(180deg,#fce9bd, white);

}

.swin-event1 {

    background-image: url('Event Photos/SwinEvent1.jpg');

}

    .swin-event1-pic1 {

        background-image: url('Event Photos/SwinEvent1Pic1.jpg');

    }

    .swin-event1-pic2 {

        background-image: url('Event Photos/SwinEvent1Pic2.jpg');

    }

    .swin-event1-pic3 {

        background-image: url('Event Photos/SwinEvent1Pic3.jpg');

    }

    .swin-event1-pic4 {

        background-image: url('Event Photos/SwinEvent1Pic4.jpg');

    }

    .swin-event1-pic5 {

        background-image: url('Event Photos/SwinEvent1Pic5.jpg');

    }


.swin-event2 {

     background-image: url('Event Photos/SwinEvent2.jpg');

 }


    .swin-event2-pic1 {

        background-image: url('Event Photos/SwinEvent2Pic1.jpg');

    }

    .swin-event2-pic2 {

        background-image: url('Event Photos/SwinEvent2Pic2.jpg');

    }
    .swin-event2-pic3 {

        background-image: url('Event Photos/SwinEvent2Pic3.jpg');

    }
    .swin-event2-pic4 {

        background-image: url('Event Photos/SwinEvent2Pic4.jpg');

    }
    .swin-event2-pic5 {

        background-image: url('Event Photos/SwinEvent2Pic5.jpg');

    }
.button {

    border-radius: 6px;
    font-weight: 700;
    font-size: 2em;

}

button {

    transition: background-color 0.3s;
    border: none;
    align-items: center;
    justify-content: center;

}

.hamburger {

    background-color: white !important;
    border: none;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);

}

.hamburger:active {

    border:#834546;

}


.flex-container {
    display: flex; /* Activates Flexbox on this container */
    background-color: lightgray;
    padding: 10px;

}



.accentColour {

    color: #7E4E54;
    font-weight: 600;
}

.centred {

    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.background {

    width: 100%;
    text-align: center;
    padding: 50px 40px 40px;
    background-color: white;
    font-size: 1.5em;
    
}

    @media (min-width:800px) {

        .background {


            padding: 80px 60px 60px;
    
        }

    }

.background.coloured {


    width: 100%;


    
}

a.social-media {

    height: 50;
    width: 50;
    margin: 17;
    color: white;
    background-color: white;
    padding: 0;
}



.imagePlaceholder {

    background-color: maroon;

}

.googleMapsSwin {

    background-image: url('Homepage Photos/googleMapsSwin.jpg');
    background-size:cover;
    background-position: center;
    display:flex; 
    height:190; 
    width: 100%;
    z-index: 20;

}

.top-shadow {

    box-shadow: 0px 24px 15px -14px rgba(0, 0, 0, 0.301) inset;

}

.image.top-shadow {

    box-shadow: 0px 24px 15px -14px rgba(0, 0, 0, 0.7) inset;

}

li.top-shadow {

    box-shadow: 0px 24px 15px -14px rgba(0, 0, 0, 0.7) inset;

}

.bottom-shadow {

    box-shadow: 0px 10px 12px 6px rgba(0, 0, 0, 0.3);

}

.no-shadow {

    box-shadow: none;

}

.no-top-padding {

    padding-top: 0 !important;
    padding-bottom: 60px;

}

.align-start {

    justify-content: start;
    align-items: start;

}

.main-image-banner {

    color: white;
    z-index: 90;

}


@media (min-width: 800px) {

    .header {

        height: 64px;

    }

    .googleMapsSwin {

        height: 300; 

    }

    .hamburger {

        height: 40px;
        width: 40px;
        padding: 8;
    
    }



}

        










.album-image {

   height: 100%;
   width: 100%;

}

.lightbox-display-container {

    height: 40vh;
    justify-content: center;
    align-items: center;

}

@media (min-width:550px) {

    .lightbox-display-container {

        height: 60vh;

    }

    

}

.lightbox-thumbnail-container {

    height: 15vh;

}

.event-thumbnail-test {

    margin-bottom: -4px;
    width: 200px;
    aspect-ratio: 1;
    
      object-fit: cover;
      background-size:contain;
      background-position: center;


} 


  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;

  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    top: 50px;
  }

  @media (min-width:550px) {

    .modal-content {

        top: 0;

    }

  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 14%;
    right: 5%;
    font-size: 50px;
    font-weight: bold;
    z-index: 100;
    opacity: 1;
    width: 80px;
    aspect-ratio: 1;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    color: white !important;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    height: 80%;
    width: 30%;
    align-items: center;
    justify-content: center;

  }

  /* Next & previous buttons */
  
  .prev {

    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); 

  }

  .prev:hover {

    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)); 

  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); 
 
  }

  .next:hover {
    right: 0;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0)); 
 
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {

  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 10px 16px 2px;
    color: white;
    width: 100%;
  }
  
  .demo {
    opacity: 0.6;
    height: 15vh;

  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  